*[ilo-ph-fix] {
  -moz-force-broken-image-icon: 1 !important;
  font-weight: normal !important;
  line-height: 140% !important;
  white-space: normal !important;
}

*[ilo-ph-fix][alt]:not([alt=""]) {
  /*font*/
}

/* TODO: :-moz-broken {..?..} */

*[ilo-ph-fix='tofix'][alt] {
  -moz-force-broken-image-icon: 0 !important;
  border: 1px inset !important;
  padding: 1px 2px !important;
  white-space: pre !important;
}

embed.sIFR-flash[ilo-full-src] {
  -moz-binding: url('chrome://imglikeopera/content/imglikeopera-content.xml#sifr-alternate-restore') !important;
}

embed.sIFR-flash[ilo-ph-fix] {
  -moz-binding: url('chrome://imglikeopera/content/imglikeopera-content.xml#sifr-alternate') !important;
}

*[ilo-ph-fix='active'] {
  /* style.display = inline-block || -moz-inline-block */
  -moz-binding: url('chrome://imglikeopera/content/imglikeopera-content.xml#active-content') !important;
  border: 1px inset !important;
  background: transparent url('resource:///res/broken-image.gif') 2px 2px no-repeat !important;
}
